<% var data = {
  title: "Головна сторінка | VS BUD",
  author: "Anastasia Hvozdetska"
}; %>


<%= _.template(require('./../includes/header.html'))(data) %>

<main>
  <section class="company-slogan">
    <div class="container">
      <div class="slogan">
        <h1><span>Гарантія</span> якості</h1>
        <h4>Забезпечена роками наполегливої праці</h4>
          <svg class="mouse-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="32px" height="52px"
            viewBox="0 0 32 52" enable-background="new 0 0 32 52" xml:space="preserve">
            <g>
              <path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M16,51L16,51C7.7,51,1,44.3,1,36V16
                  C1,7.7,7.7,1,16,1h0c8.3,0,15,6.7,15,15v20C31,44.3,24.3,51,16,51z" />
              <path class="path" fill="#FFFFFF" d="M16,24L16,24c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h0c1.4,0,2.5,1.1,2.5,2.5v10
                C18.5,22.9,17.4,24,16,24z" />
            </g>
          </svg>
        
      </div>
    </div>

    <div class="video-wrapper">
      <div class="video-bg" id="player"></div>
    </div>

    <div class="bottom-left triangle"></div>
    <div class="bottom-right triangle"></div>
  </section>

  <section class="about-company">
    <div class="about-left">
      <div class="about-left-content">

        <h2 class="section-heading">Про компанію</h2>
        <h5 class="section-subheading"><span>Високі</span> стандарти будівництва</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim
          id est laborum.</p>
        <a href="#"><i class="icon icon-right-big">&#xe801;</i> Детальніше</a>

        <ol class="about-links">
          <li class="about-links-item">
            <a href="#">
              <span>01</span>
              Історія
            </a>
          </li>
          <li class="about-links-item">
            <a href="#">
              <span>02</span>
              Команда
            </a>
          </li>
          <li class="about-links-item">
            <a href="#">
              <span>03</span>
              Переваги
            </a>
          </li>
          <li class="about-links-item">
            <a href="#">
              <span>04</span>
              Досягнення
            </a>
          </li>
        </ol>
      </div>
    </div>

    <div class="about-right">
      <ol class="about-achievements-list achievement">
        <li class="achievements-item achievement-item">
          <span data-inc-value="3456" data-inc-duration="3000" data-inc-delay="0">0</span>
          Збудовано м2
        </li>
        <li class="achievements-item achievement-item">
          <span data-inc-value="245" data-inc-duration="3000" data-inc-delay="0">0</span>
          Щасливих власників квартир
        </li>
        <li class="achievements-item achievement-item">
          <span data-inc-value="23" data-inc-duration="3000" data-inc-delay="0" value="0">0</span>
          Запланованих проекти
        </li>
        <li class="achievements-item achievement-item">
          <span data-inc-value="10" data-inc-duration="3000" data-inc-delay="0">0</span>
          Років на ринку
        </li>
      </ol>
    </div>

    <div class="top-left triangle"></div>
    <div class="top-right triangle"></div>

  </section>

  <section class="our-projects">
    <div class="container">
      <h2 class="section-heading">Для комфортного життя</h2>
      <h5 class="section-subheading">Наші <span>проекти</span></h5>

      <div class="project">
        <svg class="project-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" enable-background="new 0 0 180 130"
          preserveAspectRatio="xMinYMax slice">
          <defs>
            <pattern id="proj1" patternUnits="userSpaceOnUse" width="200" height="120" x="0" y="0">
              <image xlink:href="../img/project-1.png" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice"/>
            </pattern>
          </defs>
          <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#proj1)" />
        </svg>

        <div class="project-description" itemscope itemtype="http://schema.org/Organization">
          <h3><span>Millenium</span></h3>
          <h6>Житловий комплекс</h6>
          <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
          <a href="#"><i class="icon icon-right-big">&#xe801;</i> Детальніше</a>

          <p class="project-address" itemprop="location">
            <i class="icon icon-location">&#xe802;</i> м. Івано-Франківськ, вул. Набережна
          </p>
          <div class="phone-wrapper">
            <i class="icon icon-phone">&#xe800;</i>
            <ol class="phone-list">
              <li class="list-item">
                <a href="tel:+380680505013" itemprop="telephone">068 050 50 13</a>
              </li>
              <li class="list-item">
                <a href="tel:+380500505013" itemprop="telephone">050 050 50 13</a>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="project">
        <svg class="project-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 120" enable-background="new 0 0 180 130"
          preserveAspectRatio="xMinYMax slice">
          <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#proj1)" />
        </svg>

        <div class="project-description" itemscope itemtype="http://schema.org/Organization">
          <h3><span>Фортеця</span></h3>
          <h6>Житловий комплекс</h6>
          <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
          <a href="#"><i class="icon icon-right-big">&#xe801;</i> Детальніше</a>

          <p class="project-address" itemprop="location">
            <i class="icon icon-location">&#xe802;</i> м. Івано-Франківськ, вул. Набережна
          </p>
          <div class="phone-wrapper">
            <i class="icon icon-phone">&#xe800;</i>
            <ol class="phone-list">
              <li class="list-item">
                <a href="tel:+380680505013" itemprop="telephone">068 050 50 13</a>
              </li>
              <li class="list-item">
                <a href="tel:+380500505013" itemprop="telephone">050 050 50 13</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="last-news">
    <div class="container">
      <h2 class="section-heading">Найцікавіше з нашої роботи</h2>
      <h5 class="section-subheading">Останні <span>новини</span></h5>
      <div class="news-wrapper">
        <div class="list-item" itemscope itemtype="http://schema.org/Article">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
            preserveAspectRatio="xMinYMax slice">
            <defs>
              <pattern id="img1" patternUnits="userSpaceOnUse" x="0" y="0" width="180" height="120">
                <image xlink:href="../img/news-1.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
              </pattern>
            </defs>
            <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img1)" />
          </svg>

          <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
          <span class="news-date" itemprop="datePublished">24 січня 2019</span>
          <p class="news-text" itemprop="mainEntityOfPage">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
          <a class="news-link" href="#"></a>
        </div>
        <div class="list-item">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
            preserveAspectRatio="xMinYMax slice">
            <defs>
              <pattern id="img2" patternUnits="userSpaceOnUse" x="0" y="0" width="180" height="120">
                <image xlink:href="../img/news-2.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
              </pattern>
            </defs>
            <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img2)" />
          </svg>

          <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
          <span class="news-date" itemprop="datePublished">24 січня 2019</span>
          <p class="news-text" itemprop="mainEntityOfPage">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
          <a class="news-link" href="#"></a>
        </div>
        <div class="list-item">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
            preserveAspectRatio="xMinYMax slice">
            <defs>
              <pattern id="img3" patternUnits="userSpaceOnUse" width="180" height="120" x="0" y="0">
                <image xlink:href="../img/news-3.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
              </pattern>
            </defs>
            <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img3)" />
          </svg>

          <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
          <span class="news-date" itemprop="datePublished">24 січня 2019</span>
          <p class="news-text" itemprop="mainEntityOfPage">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
          </p>
          <a class="news-link" href="#"></a>
        </div>
      </div>
    </div>
  </section>

  <%= _.template(require('./../includes/partners.html'))(data) %>

  <%= _.template(require('./../includes/contacts.html'))(data) %>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>
