<% var data = {
  title: "Комерційна нерухомість | VS BUD",
  author: "Harrix",
  bgImage: "style='background-image: linear-gradient(180deg,rgba(0,0,0,.8) 5%,rgba(25,30,62,0)),url(../img/demo2.jpg)'",
  videoId: 'jCjOum3Fb7s',
  className: ""
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<main>
  <%= _.template(require('./../includes/header-page.html'))(data) %>

  <section class="last-news news">
    <div class="container">
        <h2 class="section-heading">Найцікавіше з нашої роботи</h2>
        <h5 class="section-subheading"><span>новини</span></h5>
        <div class="news-wrapper">
            <div class="list-item" itemscope itemtype="http://schema.org/Article">
    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img1" patternUnits="userSpaceOnUse" x="0" y="0" width="180" height="120">
                    <image xlink:href="../img/news-1.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img1)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
            <div class="list-item">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img2" patternUnits="userSpaceOnUse" x="0" y="0" width="180" height="120">
                    <image xlink:href="../img/news-2.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img2)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
            <div class="list-item">
    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img3" patternUnits="userSpaceOnUse" width="180" height="120" x="0" y="0">
                    <image xlink:href="../img/news-3.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img3)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
            <div class="list-item">
    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img3" patternUnits="userSpaceOnUse" width="180" height="120" x="0" y="0">
                    <image xlink:href="../img/news-3.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img3)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
            <div class="list-item">
    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img3" patternUnits="userSpaceOnUse" width="180" height="120" x="0" y="0">
                    <image xlink:href="../img/news-3.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img3)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
            <div class="list-item">
    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img3" patternUnits="userSpaceOnUse" width="180" height="120" x="0" y="0">
                    <image xlink:href="../img/news-3.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img3)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
            <div class="list-item">
    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 120" enable-background="new 0 0 180 130"
                preserveAspectRatio="xMinYMax slice">
                <defs>
                  <pattern id="img3" patternUnits="userSpaceOnUse" width="180" height="120" x="0" y="0">
                    <image xlink:href="../img/news-3.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMinYMin slice" />
                  </pattern>
                </defs>
                <path d="M139.7 120h-139.7v-72.1l63.6-47.9h136.4v79.5z" fill="url(#img3)" />
              </svg>
    
              <h5 itemprop="headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h5>
              <span class="news-date" itemprop="datePublished">24 січня 2019</span>
              <p class="news-text" itemprop="mainEntityOfPage">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
              </p>
              <a class="news-link" href="/article.html"></a>
            </div>
        </div>
        <ul class="pagination">
          <li class="pagination-item">
            <a href="#"> ❮ </a>
          </li>
          <li class="pagination-item">
            <a class="active" href="#"> 1 </a>
          </li>
          <li class="pagination-item">
            <a href="#"> 2 </a>
          </li>
          <li class="pagination-item">
            <a href="#"> 3 </a>
          </li>
          <li class="pagination-item">
            <a href="#"> ... </a>
          </li>
          <li class="pagination-item">
            <a href="#"> ❯ </a>
          </li>
        </ul>
    </div>

    <div class="top-right triangle"></div>

  </section>

 


  <%= _.template(require('./../includes/contacts.html'))(data) %>

  <%= _.template(require('./../includes/modal.html'))(data) %>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>