$yellow: #FFCE00;
$gray: rgba(0, 0, 0, 0.11);

$transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

.container {
  min-width: 1200px;
  width: calc(100% - 320px);
  margin: 0 auto;
}

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  $yellow: #FFCE00;
  transition: $transition;
}

.section-heading {
  color: $gray;
  text-transform: uppercase;
  font-size: 3.5em;
  font-family: "MontserratBlack";
}

.section-subheading {
  text-transform: uppercase;
  font-family: "MontserratBlack";
  font-size: 1.5em;
  position: relative;
  bottom: 20px;
  span {
    font-size: inherit;
    color: $yellow;
  }
}

.list-dropdown {
  transition: $transition;
  max-height: 1em;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  justify-content: flex-end;
  li {
    opacity: 0;
    transition: $transition;
    padding-bottom: 5px;
    &:last-of-type {
      opacity: 1;
    }
  }
  &:hover {
      max-height: 1em;
      overflow: visible;
      transition: $transition;
      &>li {
        opacity: 1;
        transition: $transition;
        &>a:hover {
          color: $yellow;
        }
      }
  }
}
